.col-xs-12.text-center
  .container
    div
      a.logo(href='/HighSpeedInternet.com')
        img(src='../../media/mainicon.png')
    .col-xs-8.col-xs-offset-2.text-center
      h1 
        span How much 
        span.red Internet speed 
        span do I need?
    .col-xs-10.col-xs-offset-1.text-center
      p Just tell us how you use the Internet and we'll recommend an appropriate Internet speed.
    .col-xs-10.col-xs-offset-1.text-center
      img(src='../../media/items.png' class='electronics')
  br
  br
  br
  br
  .col-xs-10.col-xs-offset-1.text-center
    a.myButton(ui-sref="one") Let's Go
  br
  br
  br
  br
  p
    //- div
    //-   img(src='../../media/googlelogo.jpg')
    //- div
    //-   input(type='text' class='searchbar' x-webkit-speech) 
    //- div
    //-   button.search Google Search
    //-   button.search I'm Feeling Lucky
//- .row.text-center
//-   .col-xs-12.logos
//-     img(src='https://raw.githubusercontent.com/gulpjs/artwork/master/gulp-2x.png')
//-     img(src='http://www.ocpsoft.org/wp-content/uploads/2013/01/angularjs.png')
//-     img(src='https://blog.codepen.io/wp-content/uploads/2013/09/jade-logo.png')
//-     img(src='http://ace-subido.github.io/css3-microsoft-metro-buttons/img/bootstrap.png')
//-     img(src='http://ih1.redbubble.net/image.77286395.7042/sticker,375x360.png')
