.col-xs-12.text-center
  .container
    div
      a.logo(href='/HighSpeedInternet.com')
        img(src='../../media/mainicon.png')
    .col-xs-8.col-xs-offset-2.text-center
      h1 How many of each type of device regularly connects to your home network?
  .container
    div.connect
      img.images(src='../../media/computer.png')
      img.images(src='../../media/tabletphone.png')
      img.images(src='../../media/gamecontroller.png')
      img.images(src='../../media/controller.png')

  .sidebutton
    button(ui-sref="two")
      h6 >
  footer
    div
      img.image(src='../../media/progress.png')
    .Mbps
      h1 0
      h2 Mbps
