.col-xs-12.text-center
  .container
    div
      a.logo(href='/HighSpeedInternet.com')
        img(src='../../media/mainicon.png')
  .col-xs-8.col-xs-offset-2.text-center
    h1 How many people use the Internet at your home?
    br
    br
    br
    button.qmark ?
    br
    br
    br
  .col-xs-8.col-xs-offset-2.text-center
    table.clickbutton
      tr
        td 
          button.numbutton.big -
        td
          h1 0
        td
          button.numbutton.small +
    br
    br
    br
    br
  footer
    div
      img.image(src='../../media/progress.png')
    .Mbps
      h1 0
      h2 Mbps

      
